$color-lei-flower: #DE766B;
$color-almost-famous: #3b5455;
$color-dire-wolf: #282728;
$color-white: #FFFFFF;
$color-cool-touch: #6F92CA;
$color-white-smoke:#F5F5F5;
$color-gravel-fint:#BBBBBB;
$color-black-space: #535253;
$color-transparent: transparent;
$color-almond: #EEE2C5;
$color-silver-chalice: #B2B2B2;
$color-cutty-sark: #5D7778;
$play-color: #DE766B;
